API_PORT=18082
ADMIN_PORT=14176
TOKEN_SECRET=gold-recycle-dev-secret
CORS_ORIGIN=*
APP_MODE=memory
HOST=
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DATABASE=miniapp_prod
MYSQL_USER=miniapp_app
MYSQL_PASSWORD=change_me
MYSQL_CHARSET=utf8mb4
REDIS_ADDR=127.0.0.1:6379
REDIS_USER=miniapp
REDIS_PASSWORD=change_me
REDIS_DB=0
REDIS_KEY_PREFIX=miniapp:
